<h2 mat-dialog-title>

  Cadastro de funcionário

  <button mat-icon-button aria-label="Fechar" [mat-dialog-close]="true">
    <mat-icon>clear</mat-icon>
  </button>
</h2>
<mat-dialog-content class="mat-typography">



      <mat-form-field>
        <mat-label>Funcionário</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Cargo</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Endereço MAC</mat-label>
        <input matInput>
      </mat-form-field>


  
</mat-dialog-content>
<mat-dialog-actions align="end">

  <button mat-raised-button>Cancelar</button>
  <button mat-raised-button color="primary">Salvar</button>

</mat-dialog-actions>
