<div class="modal-container">
  <h2 mat-dialog-title class="example-full-width alinhamento-titulo">

    <label>Cadastrar de funcionário</label>

    <button mat-icon-button aria-label="Fechar" [mat-dialog-close]="true" align="end">
      <mat-icon>clear</mat-icon>
    </button>
  </h2>
  <mat-dialog-content class="mat-typography exemple-full-height" >

    <form class="example-form alinhamento-formulario" *ngIf="cadastrar">

      <div class="inputs-form">
        <mat-form-field class="example-full-width">
          <mat-label>Funcionário</mat-label>
          <input matInput [(ngModel)]="formulario.funcionario" name="funcionario" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Cargo</mat-label>
          <input matInput [(ngModel)]="formulario.cargo" name="cargo" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Endereço MAC</mat-label>
          <input matInput [(ngModel)]="formulario.enderecoMac" name="enderecoMac" [mask]="'00:00:00:00'" required>
        </mat-form-field>
      </div>

      <div class="alinhamento-botoes">
        <button mat-raised-button *ngIf="cadastrar || editar" (click)="cancelarTags()">Cancelar</button>
        <button mat-raised-button color="primary" *ngIf="cadastrar || editar" (click)="salvarTags()">Salvar</button>
        <button mat-raised-button color="primary" *ngIf="visualizar" >Voltar</button>
      </div>
    </form>


      <div class="basic-container">
        <div align="end" class="btn-cadastrar">
          <button mat-raised-button color="accent" *ngIf="!loading && !cadastrar" (click)="cadastrarFuncionario()" >Cadastrar</button>
        </div>

        <mat-form-field class="example-full-width" *ngIf="!loading && !cadastrar">
          <mat-label>Filtrar</mat-label>
          <input matInput (keyup)="applyFilter($event)" [(ngModel)]="filtro">
        </mat-form-field>

          <table mat-table [dataSource]="dadosTags"  *ngIf="!loading && !cadastrar">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id. </th>
              <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="funcionario">
              <th mat-header-cell *matHeaderCellDef> Funcionário</th>
              <td mat-cell *matCellDef="let element"> {{element?.funcionario}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="cargo">
              <th mat-header-cell *matHeaderCellDef> Cargo </th>
              <td mat-cell *matCellDef="let element"> {{element?.cargo}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
              <th mat-header-cell *matHeaderCellDef> Ações </th>
              <td mat-cell *matCellDef="let element">
                <div class="alinhamento-botoes">
                  <button mat-mini-fab color="warn" aria-label="Excluir" (click)="excluirFuncionario(element)">
                    <mat-icon>delete</mat-icon>
                  </button>

                  <button mat-mini-fab color="accent" aria-label="Editar" (click)="editarFuncionario(element)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </div>

  </mat-dialog-content>

</div>
