<mat-toolbar color="primary" id="toolbar">

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item  (click)="abrirCadastroFuncionario()">
      <mat-icon>add</mat-icon>
      <span>Cadastrar funcionários</span>
    </button>
    <button mat-menu-item (click)="abrirCadastroEstacoes()">
      <mat-icon>add</mat-icon>
      <span>Cadastrar estação </span>
    </button>
    <button mat-menu-item (click)="abrirCadastroPermissao()">
      <mat-icon>add</mat-icon>
      <span>Cadastrar permissão </span>
    </button>
    <button mat-menu-item (click)="abrirCadastroUsuarios()">
      <mat-icon>add</mat-icon>
      <span>Cadastrar usuários </span>
    </button>
  </mat-menu>

  <span>Monitor de dados</span>
  <span class="example-spacer"></span>

</mat-toolbar>

<div class="monitor-dados-body" [style]="getAltura()">
  <mat-grid-list cols="10" rowHeight="10:1">
    <mat-grid-tile
      [colspan]="2"
      [rowspan]="6"
      style="background-color: blueviolet;">
      Ponto dos funcionarios
    </mat-grid-tile>
    <mat-grid-tile>
      Grafico 2
    </mat-grid-tile>
    <mat-grid-tile>
      Grafico 3
    </mat-grid-tile>
    <mat-grid-tile>
      Grafico 4
    </mat-grid-tile>
  </mat-grid-list>
</div>

