<mat-toolbar color="primary">

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item  (click)="abrirCadastroFuncionario()">
      <mat-icon>add</mat-icon>
      <span>Cadastrar funcionários</span>
    </button>
    <button mat-menu-item (click)="abrirCadastroEstacoes()">
      <mat-icon>add</mat-icon>
      <span>Cadastrar estação </span>
    </button>
    <button mat-menu-item (click)="abrirCadastroPermissao()">
      <mat-icon>add</mat-icon>
      <span>Cadastrar permissão </span>
    </button>
    <button mat-menu-item (click)="abrirCadastroUsuarios()">
      <mat-icon>add</mat-icon>
      <span>Cadastrar usuários </span>
    </button>
  </mat-menu>

  <span>Monitor de dados</span>
  <span class="example-spacer"></span>

</mat-toolbar>

