<mat-toolbar color="primary" id="toolbar">

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item  (click)="abrirCadastroFuncionario()">
      <mat-icon>add</mat-icon>
      <span>Cadastrar funcionários</span>
    </button>
    <button mat-menu-item (click)="abrirCadastroEstacoes()">
      <mat-icon>add</mat-icon>
      <span>Cadastrar estação </span>
    </button>
    <button mat-menu-item (click)="abrirCadastroPermissao()">
      <mat-icon>add</mat-icon>
      <span>Cadastrar permissão </span>
    </button>
    <button mat-menu-item (click)="abrirCadastroUsuarios()">
      <mat-icon>add</mat-icon>
      <span>Cadastrar usuários </span>
    </button>
  </mat-menu>

  <span>Monitor de dados</span>
  <span class="example-spacer"></span>

</mat-toolbar>

<div class="monitor-dados-body" >
  <div class="corpo1">
    <div class="ponto">
      <span class="informacoes-ponto">Informações do relógio ponto</span>
      <div *ngFor="let ponto of registrosPonto" class="dados-ponto">
        <label>Sequência da batida: {{ponto.sequencia}}</label>
        <label>Funcionário: {{ponto.funcionario}}</label>

        <label>Momento: {{ponto.momento}}</label>

      </div>
    </div>
    <div class="graficos">
      <div class="totalizadores">
        <div class="totalizador">
          <label>Umidade atual:</label>
          <label class="negrito azul-escuro">{{umidadeAtual}} % </label>
        </div>

        <div class="totalizador">
          <label>Temperatura atual:</label>
          <label class="negrito vermelho-escuro">{{temperaturaAtual}} ºC</label>
        </div>

        <div class="totalizador">
          <label>Luminosidade atual:</label>
          <label  class="negrito laranja-escuro">{{luminosidadeAtual}}</label>
        </div>
      </div>

      <div class="graficos-dados">
        <div class="variacao-dias">
          <canvas id="variacaoUmidade"></canvas>
        </div>
        <div class="variacao-dias">
          <canvas id="variacaoTemperatura"></canvas>
        </div>
        <div class="variacao-dias">
          <canvas id="variacaoLuminosidade"></canvas>
        </div>
      </div>

      <div class="ultimos-dados">
        <div class="lista-ultimos-dados">
          <div class="titulo-ultimos-dados azul-escuro">Últimas umidades</div>
          <div class="listagem-ultimos-dados" *ngFor="let umidade of this.ultimasUmidades">
            <span>Horários: {{umidade.horaIni}} até {{umidade.horaFim}}</span>
            <span>Data: {{umidade.data}}</span>
            <span>Valor: {{umidade.valor}}%</span>
          </div>
        </div>

        <div class="lista-ultimos-dados">
          <div class="titulo-ultimos-dados vermelho-escuro">Últimas temperatuas</div>
          <div class="listagem-ultimos-dados" *ngFor="let temperaturas of this.ultimasTemperaturas">
            <span>Horários: {{temperaturas.horaIni}} até {{temperaturas.horaFim}}</span>
            <span>Data: {{temperaturas.data}}</span>
            <span>Valor: {{temperaturas.valor}} C</span>
          </div>
        </div>

        <div class="lista-ultimos-dados">
          <div class="titulo-ultimos-dados laranja-escuro">Últimas luminosidades</div>
          <div class="listagem-ultimos-dados" *ngFor="let luminosidade of this.ultimasLuminosidades">
            <span>Horários: {{luminosidade.horaIni}} até {{luminosidade.horaFim}}</span>
            <span>Data: {{luminosidade.data}}</span>
            <span>Valor: {{luminosidade.valor}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

